{% extends 'apps/apptemplate.html' %}
{% block title %}Samba{% endblock %}

{% block apppage %}
<script type="text/javascript"><!--


var package_name = "samba";

function start() {
$.ajax({
        method: 'GET',
        cache: false,
        url : '/api/startapp/' + package_name,
        dataType : 'text',
        success: function (text) { 
            setTimeout(checkStatus, 3000);
        }
});
}

function stop() {
$.ajax({
        method: 'GET',
        cache: false,
        url : '/api/stopapp/' + package_name,
        dataType : 'text',
        success: function (text) { 
            setTimeout(checkStatus, 3000);
        }
});
}

function setLoader() {
$('#runstatus').html('<img style="width:18px;height:18px;margin:0;" src="/static/images/loader.gif"/>');
}

function checkStatus() {
setLoader();
var startLink =  'Stopped - <a style="text-decoration:underline;" href="#" onclick="javascript:start();setLoader();">Click here to start</a>'
var stopLink =  'Running - <a style="text-decoration:underline;" href="#" onclick="javascript:stop();setLoader();">Click here to stop</a>'
$.ajax({
        method: 'GET',
        cache: false,
        url : '/api/isrunning/' + package_name,
        dataType : 'text',
        success: function (text) { 
            if (text == "False") {
                $('#runstatus').html(startLink);
            }
            else {
                $('#runstatus').html(stopLink);
            }
        }
});
}

setTimeout(checkStatus, 3000);
--></script>
<div id="apppage">
<h2>Samba</h2>

<p>Daemon is: <span id="runstatus"><img style="width:18px;height:18px;margin:0;" src="/static/images/loader.gif"/></span></p>
</div><!-- apppage -->
{% endblock %}
