<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html style="margin:0;padding:0;" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
  <head>
    <title>{% block title %}Plugbox Linux{% endblock %}</title>
    <link rel="shortcut icon"
          href="/static/favicon.gif"
          type="image/vnd.microsoft.icon">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="/static/style.css" rel="stylesheet" type="text/css" />
    <script language="javascript" type="text/javascript" src="/static/jquery-1.4.4.min.js"></script>
    <script language="javascript" type="text/javascript" src="/static/jquery.jqplot.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/jquery.jqplot.css" />
    <link rel="stylesheet" type="text/css" href="/static/jqueryFileTree.css" />
	{% include "ajax.html" %}
  </head>

<body style="margin:0;padding:0;">
<div id="main">
<div id="inner-wrapper">
<div id="logobar">
<img src="/static/images/plugapps.png"/>
</div><!-- logobar -->
<div id="headerbar">
<div id="nav">
<ul>
{% load active %}
{% url home as home %}
{% url files as files %}
{% url apps as apps %}
{% url system as system %}
{% url users as users %}
<li class="{% active request home %}"><a href="/home">Home</a></li>
<li class="{% active request files %}"><a href="/files">Files</a></li>
<li class="{% active request apps %}"><a href="/apps">Apps</a></li>
<li class="{% active request system %}"><a href="/system">System</a></li>
<li class="{% active request users %}"><a href="/users">Users</a></li>
</ul>
<span id="login">
{% if request.user.is_authenticated %}
    Welcome {{ request.user.username|capfirst }} - <a href="/users/logout">Logout</a>
{% else %}
    <a href="/users/login">Login</a>
{% endif %}
</span><!-- login -->
</div><!-- nav -->
<div id="subnav">
{% block subnav %}{% endblock %}
</div><!-- subnav -->
</div><!-- headerbar -->
<div id="content">
<div id="page_body">
{% block content %}{% endblock %}
<div id="page_body_footer">
<span id="copyright">
</span><!-- copyright -->
</div><!-- page_body_footer -->
</div><!-- page_body -->
</div><!-- content -->
</div><!-- inner-wrapper -->
</div><!--main -->
</body> 


</html>
