{% extends "files/filestemplate.html" %}
{% block title %}Files{% endblock %}

{% block filespage %}
<div id="filespage">
<script type="text/javascript" src="/static/jqueryFileTree.js"></script>
<h2>File Browser</h2>
<div id="files"></div>
<script type="text/javascript"><!--

function openFile(file) {
    alert('Still need to implement this');
}


$(document).ready( function() {
    $('#files').fileTree({
        root: '/media/',
        script: '/api/dirlist',
        expandSpeed: -1,
        collapseSpeed: -1,
        loadMessage: 'Loading....',
        multiFolder: true
    }, function(file) {
        openFile(file);
    });
});


--></script>
</div><!-- filespage -->
{% endblock %}
